main {
    min-height: 66vh
}

form .input-field {
    height: 64px
}

.mb {
    margin-bottom: 56px
}

.row.noMargins {
    margin-bottom: 0
}

audio {
    width: 100%
}

@keyframes bounce-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.bouncing {
    animation: bounce-up .3s ease;
}